<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>마커 클러스터러 사용하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="card col-lg-9 float-start p-0">
            <div id="map" style="height:800px;"></div>
        </div>
        <div class="col-md-4 col-lg-3 mt-4 float-end">
            <div class="card my-4">
                <div class="card-header">위험 범위</div>
                <div class="card-body d-flex justify-content-between">
                    <button id="m500" class="range-btn" style="background-color: #66a3ff">500m</button>
                    <button id="m1000" class="range-btn" style="background-color: #3385ff">1km</button>
                    <button id="m2000" class="range-btn" style="background-color: #0066ff">2km</button>
                </div>
            </div>
            <div class="card my-4 mt-auto">
                <div class="card-body">
                    <button id="exportCsv" class="btn btn-primary" onclick="exportToCsv()">위험부위 CSV 파일로 출력</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9d03e29c5153c0934ebbe2c8ede4fdd2&libraries=services,clusterer"></script>
<script>
var mapContainer = document.getElementById('map'),
    mapOption = {
        center: new kakao.maps.LatLng(38.263044, 127.267627),
        level: 3
    };

var map = new kakao.maps.Map(mapContainer, mapOption);

var m500 = document.getElementById('m500');
var m1000 = document.getElementById('m1000');
var m2000 = document.getElementById('m2000');

m500.addEventListener('click', function() {
    setLevel(6);
});
m1000.addEventListener('click', function() {
    setLevel(7);
});
m2000.addEventListener('click', function() {
    setLevel(8);
});

function setLevel(level) {
    map.setLevel(level);
}
var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
        minLevel: 2, // 클러스터 할 최소 지도 레벨
        calculator: [10,30], // 클러스터의 크기 구분 값, 각 사이값마다 설정된 text나 style이 적용된다
        texts: getTexts,
        styles: [{ // calculator 각 사이 값 마다 적용될 스타일을 지정한다
                width : '100px', height : '100px',
                background: 'lime',
                borderRadius: '50px',
                color: '#000',
                textAlign: 'center',
                fontWeight: 'bold',
                lineHeight: '50px'
            },
            {
                width : '100px', height : '100px',
                background: 'yellow',
                borderRadius: '50px',
                color: '#000',
                textAlign: 'center',
                fontWeight: 'bold',
                lineHeight: '50px'
            },
            {
                width : '100px', height : '100px',
                background: 'red',
                borderRadius: '50px',
                color: '#000',
                textAlign: 'center',
                fontWeight: 'bold',
                lineHeight: '50px'
            },
        ]
    });

    function getTexts( count ) {

      // 한 클러스터 객체가 포함하는 마커의 개수에 따라 다른 텍스트 값을 표시합니다
      if(count < 10) {
        return count + '농장';
      } else if(count < 30) {
        return count + '농장';
      } else {
        return count + '농장';
      }
    }
$.get("{% static 'info.json' %}", function (data) {
 var maxResult = Math.max.apply(Math, data.positions.map(position => parseFloat(position.result)));
  var markers = $(data.positions).map(function (i, position) {
    // 커스텀 마커 스타일 설정
    var customMarkerContent = document.createElement('div');
    customMarkerContent.style.width = '100px';
    customMarkerContent.style.height = '100px';
    customMarkerContent.style.borderRadius = '50px';
    customMarkerContent.style.color = '#000';
    customMarkerContent.style.textAlign = 'center';
    customMarkerContent.style.fontWeight = 'bold';
    customMarkerContent.style.lineHeight = '50px';
    customMarkerContent.innerText = position.farm_name + '\n' + parseFloat(position.result).toFixed(2);

    // result 값에 따른 배경색 변경
    var resultValue = parseFloat(position.result);
    if (resultValue < 10) {
      customMarkerContent.style.background = 'lime';
    } else if (resultValue >= 10 && resultValue < 18) {
      customMarkerContent.style.background = 'yellow';
    }  else {
      var hexColor = 0xFF - Math.round(((resultValue - 18) / (maxResult - 18)) * 255);
      if (hexColor < 16) {
        hexColor = "0" + hexColor.toString(16);
      } else {
        hexColor = hexColor.toString(16);
      }
      customMarkerContent.style.background = '#FF00' + hexColor;
    }

    // 커스텀 오버레이 마커 생성
    var customMarker = new kakao.maps.CustomOverlay({
      position: new kakao.maps.LatLng(position.lat, position.long),
      content: customMarkerContent, // 지도에 표시할 마커의 HTML 구조와 스타일
      xAnchor: 0.5,
      yAnchor: 0.5,
      zIndex: 3
    });

    customMarker.setMap(map);
    return customMarker;
  });
   clusterer.addMarkers(markers);
  });




</script>

</body>
</html>