<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>마커 클러스터러 사용하기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="card col-lg-9 float-start p-0">
            <div id="map" style="height:800px;"></div>
        </div>
        <div class="col-md-4 col-lg-3 mt-4 float-end">
            <div class="card my-4">
                <div class="card-header">위험 범위</div>
                <div class="card-body d-flex justify-content-between">
                    <button id="m500" class="range-btn" style="background-color: #66a3ff">500m</button>
                    <button id="m1000" class="range-btn" style="background-color: #3385ff">1km</button>
                    <button id="m2000" class="range-btn" style="background-color: #0066ff">2km</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9d03e29c5153c0934ebbe2c8ede4fdd2&libraries=services,clusterer"></script>
<script>
var mapContainer = document.getElementById('map'),
    mapOption = {
        center: new kakao.maps.LatLng(38.263044, 127.267627),
        level: 3
    };

var map = new kakao.maps.Map(mapContainer, mapOption);

var m500 = document.getElementById('m500');
var m1000 = document.getElementById('m1000');
var m3000 = document.getElementById('m2000');

m500.addEventListener('click', function() {
    setLevel(6);
});
m1000.addEventListener('click', function() {
    setLevel(7);
});
m3000.addEventListener('click', function() {
    setLevel(8);
});

function setLevel(level) {
    map.setLevel(level);
}
$.get("{% static 'info.json' %}", function (data) {
 var maxResult = Math.max.apply(Math, data.positions.map(position => parseFloat(position.result)));
   // 클러스터러 생성


  var markers = $(data.positions).map(function (i, position) {
    // 커스텀 마커 스타일 설정
    var customMarkerContent = document.createElement('div');
    customMarkerContent.style.width = '100px';
    customMarkerContent.style.height = '100px';
    customMarkerContent.style.borderRadius = '50px';
    customMarkerContent.style.color = '#000';
    customMarkerContent.style.textAlign = 'center';
    customMarkerContent.style.fontWeight = 'bold';
    customMarkerContent.style.lineHeight = '50px';
    customMarkerContent.innerText = position.farm_name + '\n' + parseFloat(position.result).toFixed(2);

    // result 값에 따른 배경색 변경
    var resultValue = parseFloat(position.result);
    if (resultValue < 10) {
      customMarkerContent.style.background = 'lime';
    } else if (resultValue >= 10 && resultValue < 18) {
      customMarkerContent.style.background = 'yellow';
    }  else {
      var hexColor = 0xFF - Math.round(((resultValue - 18) / (maxResult - 18)) * 255);
      if (hexColor < 16) {
        hexColor = "0" + hexColor.toString(16);
      } else {
        hexColor = hexColor.toString(16);
      }
      customMarkerContent.style.background = '#FF00' + hexColor;
    }



     // 마커 위치 설정
     var marker = new kakao.maps.Marker({
        position: new kakao.maps.LatLng(position.lat, position.long),
        visible: false // 클러스터에서 보이지 않게 설정
    });

      var clusterer = new kakao.maps.MarkerClusterer({
      map: map,
      averageCenter: true,
      minClusterSize: 2 // 클러스터의 최소 사이즈 설정
  });

    // 커스텀 오버레이 마커 생성
    var customMarker = new kakao.maps.CustomOverlay({
      position: new kakao.maps.LatLng(position.lat, position.long),
      content: customMarkerContent, // 지도에 표시할 마커의 HTML 구조와 스타일
      xAnchor: 0.5,
      yAnchor: 0.5,
      zIndex: 3
    });
    // 클러스터에 마커 추가
    clusterer.addMarker(marker);

    customMarker.setMap(map);
    return marker;
  });


  var customLabel = {
    text: '',
    className: 'custom-label'
  };

  // 클러스터러의 styler 함수를 수정하여 클러스터의 레이블을 표시할 수 있습니다.
  clusterer.styler = function (cluster) {
      var count = cluster.getSize(); // 클러스터 내 마커 개수
      var result = 0;

      for (var i = 0; i < count; i++) {
          result += parseFloat(data.positions[i].result);
      }

      var average = (result / count).toFixed(2); // 클러스터 내 평균 위험도

      this._clusterMarker.setIcon({
          text: count + '농장, ' + '평균 위험도: ' + average,
          className: this._styles.className || ''
      });

      this._clusterMarker.setPosition(cluster.getCenter());
  };

});

</script>
{% if post_list.exists %}
{% for i in post_list %}
<p>{{ i.farm_name | truncatechars_html:10 | safe }}</p>

{% endfor %}
{% endif %}
</body>
</html>
